<!--
Baa Time — Alejandro Alonso, Ivan Mijacika, Theodore Fahey, Emma Buller
SoftDev
P00
2021-10-27
-->

<!DOCTYPE html>
<html>

<head>
    <title>Edit Post</title>
</head>

<body>
    <div>
        <a href="{{ url_for('crt_blog') }}"><strong>Create Blogs/Posts</strong></a>
        <a href="{{ url_for('edit_blog')}}"><strong>Edit Your Blogs/Posts</strong></a>
        <a href="{{ url_for('view_blogs')}}"><strong>View Blogs</strong></a>
        <a href="{{ url_for('index')}}"><strong>Homepage</strong></a>
    </div>
    <h2>Edit Post</h2><br>
    <h3>{{error}}</h3>
    <form action="/edited" method="POST">
        <label for="blogname"> Rename Blog </label><br>
        <textarea id="blogname" name="blogname" rows="1" cols="20">{{blogname}}</textarea><br>
        <label for="postname"> Rename Post </label><br>
        <textarea id="postname" name="postname" rows="1" cols="20">{{postname}}</textarea><br>
        <label for="body"> Replace Post Text </label> <br>
        <textarea id="body" name="body" rows="20" cols="80">{{post_content}}</textarea> <br>
        <input type="submit" value="Update">
    </form>
    <form action="/deletepost" method="POST">
        <br><strong> Delete Post </strong><br>

        <body>(Deleting a post cannot be undone, proceed with caution)</body><br><br>
        <input type="submit" value="DELETE"> <br>
    </form>
</body>

</html>
