<!--
Baa Time — Alejandro Alonso, Ivan Mijacika, Theodore Fahey, Emma Buller
SoftDev
P00
2021-10-27
-->

<!DOCTYPE html>
<html>
  <head>
    <title>View Blogs</title>
    <style>

#footer {
  background-color: rgba(211, 211, 211);
  text-align: center;
  padding: 10px;
  font-size: 10px;
  color: rgb(0, 0, 0);
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:30px;
}
    </style>
  </head>

  <body>
    <div class="navbuttons">
      <a href="{{ url_for('crt_blog') }}" class="navbutton"><strong>Create Blogs</strong></a>
      <a href="{{ url_for('edit_blog')}}" class="navbutton"><strong>Edit Blogs</strong></a>
      <a href="{{ url_for('view_blogs')}}" class="navbutton"><strong>View Blogs</strong></a>
      <a href="{{ url_for('index')}}" class="navbutton"><strong>Homepage</strong></a>
    </div>
<br>

   <strong>Select Blog to View</strong><br>
<form>
   {% for blog in bloglist %}
       <input type="radio" id = "{{blog}}" name = "blog" value = blog>
          <label for= blog> {{ blog[0] }} </label><br>
   {% endfor %}
     
      <input type="submit" value="Submit">
</form>
    <div id="footer">
      <p>Baa Time | Alejandro Alonso, Emma Buller, Theo Fahey, Ivan Mijacika | <a href='https://github.com/AAWorks/BaaTimeBlogs'>Github Repo</a> | Copyrights &copy; 2020 All Rights Reserved | Last Update: Nov 2021</p>
    </div>
  </body>

</html>
